* {
    margin:0;
    box-sizing: border-box;
}
.header-desktop{
    margin-top: 100px;
    display: block;
}
.header-mobile{
    margin-top: 100px;
    display: none;
}
.img-header{
    border-radius: 10px;
    height: 280px;
    width: 280px;
}

.img-top-product {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .header-desktop {
        display: none; 
    }
    .header-mobile {
        display: block; 
    }
}